* {
	padding: 0px;
	margin: 0px;
}

#container{
	width: 100vw;
	height: 100vh;
	background-color: #FFF3C3;
	position: absolute;
}

#container.page2 {
	top:100vh;
}
#container-g.page3 {
	top:200vh;
}
#container.page4 {
	top:300vh;
}
#container-g.page5 {
	top:400vh;
}
#container.page6 {
	top:500vh;
}



#container.page1.lock, #container.page2.lock, #container-g.page3.lock, #container.page4.lock, #container-g.page5.lock, #container.page6.lock{
	position: fixed;
	top:0;
	left:0;
}




#container-g{
	width: 100vw;
	height: 100vh;
	background-color: #A8D182;
	position: absolute;
}

#display{
	position: absolute;
	left: 6vw; 
	top: 5vh;
	width: 80vw;
	height: 90vh;
}


#T-display{
	position: absolute;
	left: 135px;
	top: 220px;
}

#U-display{
	position: absolute;
	left: 270px;
	top: 220px;
}

#M-display{
	position: absolute;
	left: 405px;
	top: 220px;
}

#B-display{
	position: absolute;
	left: 540px;
	top: 220px;
}

#L-display{
	position: absolute;
	left: 675px;
	top: 220px;
}

#E-display{
	position: absolute;
	left: 810px;
	top: 220px;
}




/*displayed typeface*/
/*code from: https://codepen.io/vavik96/pen/waBgya*/
/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  33.3% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }

  49.95% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  66.6% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  83.25% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  33.3% {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }

  49.95% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  66.6% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  83.25% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(5px) rotate(2deg);
    transform: translateX(5px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(5px) rotate(2deg);
    transform: translateX(5px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}







#specimen{
	position: absolute;
	left: 12vw; 
	top: 5vh;
	width: 80vw;
	height: 90vh;
}


#numbers{
	position: absolute;
	left: 12vw; 
	top: 5vh;
	width: 80vw;
	height: 90vh;
}

.cube{
	height: 140px;
	width: 140px;
}

.text{transform: scale(0.5);}

#text{
	position: absolute;
	left: 12vw;
	top: 5vh;
	width: 80vw;
	height: 90vh;
}

.rec{
	height: 140px;
	width: 75px;
}

.letter{
	height: 130px;
	width: 130px;
	border: #FFF3C3 solid 5px;
	border-radius: 5px;
	position: relative;
	background-color: #A8D182;
}

.outline{
	height: 130px;
	width: 130px;
	border: #A8D182 solid 5px;
	border-radius: 5px;
	position: relative;
	background-color: #FFF3C3;
}

.mark{
	height: 130px;
	width: 65px;
	border: #FFF3C3 solid 5px;
	border-radius: 5px;
	position: relative;
	background-color: #A8D182;
}

#outline{
	border: #A8D182 solid 5px;
	border-radius: 5px;
	position: relative;
	background-color: #FFF3C3;}


/*letters*/
.A{
	position: absolute;
	top: 0;
	left:0;}

.B{
	position: absolute;
	top: 0;
	left: 135px;
}

.C{
	position: absolute;
	top: 0;
	left: 270px;
}

.D{
	position: absolute;
	top: 0;
	left: 405px;
}

.E{
	position: absolute;
	top: 0;
	left: 540px;
}

.F{
	position: absolute;
	top: 0;
	left: 675px;
}

.G{
	position: absolute;
	top: opx;
	left: 810px;
}

.H{
	position: absolute;
	top: 135px;
	left: 0px;
}

.I{
	position: absolute;
	top: 135px;
	left: 135px;
}

#J{
	position: absolute;
	top: 135px;
	left: 270px;
	height: 140px;
	width: 140px;
}

div#J :hover{
	border-radius: 0px 0px 60px 0px;
-moz-border-radius: 0px 0px 60px 0px;
-webkit-border-radius: 0px 0px 60px 0px;
}

.K{
	position: absolute;
	top: 135px;
	left: 405px;
}

#L{
	position: absolute;
	top: 135px;
	left: 540px;
	height: 140px;
	width: 140px;
}

div#L :hover{
	border-radius: 0px 0px 0px 60px;
-moz-border-radius: 0px 0px 0px 60px;
-webkit-border-radius: 0px 0px 0px 60px;
}

.M{
	position: absolute;
	top: 135px;
	left: 675px;
}

.N{
	position: absolute;
	top: 135px;
	left: 810px;
}

#O{
	position: absolute;
	top: 270px;
	left: 0px;
	height: 140px;
	width: 140px;
}

div#O :hover{
	border-radius: 40px 40px 40px 40px;
	-moz-border-radius: 40px 40px 40px 40px;
	-webkit-border-radius: 40px 40px 40px 40px;
}

.P{
	position: absolute;
	top: 270px;
	left: 135px;
}

.Q{
	position: absolute;
	top: 270px;
	left: 270px;
	height: 140px;
	width: 140px;
}

div.Q :hover{
	border-radius: 40px 40px 0px 40px;
	-moz-border-radius: 40px 40px 0px 40px;
	-webkit-border-radius: 40px 40px 0px 40px;
}

.R{
	position: absolute;
	top: 270px;
	left: 405px;
}

.S{
	position: absolute;
	top: 270px;
	left: 540px;
}

.T{
	position: absolute;
	top: 270px;
	left: 675px;
}

.U{
	position: absolute;
	top: 270px;
	left: 810px;
}

.V{
	position: absolute;
	top: 405px;
	left: 0px;
}

.W{
	position: absolute;
	top: 405px;
	left: 135px;
}

.X{
	position: absolute;
	top: 405px;
	left: 270px;
}

#Y{
	position: absolute;
	top: 405px;
	left: 405px;
}

div#Y :hover{
	border-radius: 0px 0px 60px 0px;
-moz-border-radius: 0px 0px 60px 0px;
-webkit-border-radius: 0px 0px 60px 0px;
}

.Z{
	position: absolute;
	top: 405px;
	left: 540px;
}



/*shapes*/
	/*https://css-tricks.com/examples/ShapesOfCSS/*/
#triangle-up{
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 24px solid #FFF3C3;
	border-radius: 2px;
}

#triangle-down{
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 18px solid #FFF3C3;
}

#triangle-down-lg{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 40px solid #FFF3C3;
}

#triangle-left{
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 20px solid #FFF3C3;
	border-bottom: 12px solid transparent;

}

#triangle-right{
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 20px solid #FFF3C3;
	border-bottom: 12px solid transparent;
}

#triangle-up-g{
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 24px solid #A8D182;
	border-radius: 2px;
}

#triangle-down-g{
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 18px solid #A8D182;
}

#triangle-down-lg-g{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 40px solid #A8D182;
}

#triangle-left-g{
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 20px solid #A8D182;
	border-bottom: 12px solid transparent;

}

#triangle-right-g{
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 20px solid #A8D182;
	border-bottom: 12px solid transparent;
}

#triangle-down-sm{
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 15px solid #FFF3C3;
}

#triangle-down-sm-g{
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 15px solid #A8D182;
}

#rectangular{
	height: 50px;
	width: 13px;
}

#rectangular-2{
	height: 12px;
	width: 50px;
}

#rectangular-3{
	height: 12px;
	width: 65px;
}

#rectangular-4{
	height: 65px;
	width: 12px;
}

#semicircle-curveup{
	height: 18px;
	width: 24px;
	border-radius: 60% 60% 0% 0% / 100% 100% 0% 0%;
}

#semicircle-curveright{
	height: 24px;
	width: 18px;
	border-radius: 0% 100% 100% 0% / 0% 60% 60% 0%;
}

#semicircle-curveleft{
	height: 24px;
	width: 18px;
	border-radius: 100% 0% 0% 100% / 60% 0% 0% 60%;
}

#semicircle-curvedown{
	height: 18px;
	width: 24px;
	border-radius: 0% 0% 60% 60% / 0% 0% 100% 100%;
}

#quarter-circle-1{
	height: 24px;
	width: 18px;
	border-radius: 90% 0% 0% 0% / 90% 0% 0% 10%;
}

#quarter-circle-1-special{
	height: 36px;
	width: 27px;
	border-radius: 90% 0% 0% 0% / 90% 0% 0% 10%;
}

#quarter-circle-2{
	height: 24px;
	width: 18px;
	border-radius: 0% 0% 90% 0% / 0% 10% 90% 0%;
}

#quarter-circle-2-special{
	height: 36px;
	width: 27px;
	border-radius: 0% 0% 90% 0% / 0% 10% 90% 0%;
}

#quarter-circle-3{
	height: 24px;
	width: 18px;
	border-radius: 0% 0% 0% 90% / 10% 0% 0% 90%;
}

#quarter-circle-3-special{
	height: 36px;
	width: 27px;
	border-radius: 0% 0% 0% 90% / 10% 0% 0% 90%;
}

#quarter-circle-4{
	height: 24px;
	width: 18px;
	border-radius: 0% 90% 0% 0% / 0% 90% 10% 0%;
}

#circle{
	height: 35px;
	width: 35px;
	border-radius: 100%;
}

#circle-sm{
	height: 30px;
	width: 30px;
	border-radius: 100%;
}

#square{
	height: 25px;
	width: 25px;
}

#square-md{
	height: 18px;
	width: 18px;
}

#square-sm{
	height: 15px;
	width: 15px;
	
}

.green{background-color: #A8D182;}
.yellow{background-color: #FFF3C3;}


/*positions*/
.top{top: 0;}
.top-2{top: 20px;}
.top-4{top: 23px;}
.top-3{top: -5px;}
.bottom{bottom: 0;}
.bottom-2{top:100px;}
.bottom-3{top: 118px;}
.bottom-4{top: 95px;}
.bottom-5{top: 85px;}
.center-1{top: 90px;}
.center-2{top: 55px;}
.center-3{top: 65px;}
.center-4{top: 40px;}
.center-5{top: 77px;}
.corner{bottom: -14px;}

.center{
	position: absolute;
	left: 70px;
}

.left{
	position: absolute;

	left: 50px;
}

.left-2{position: absolute; left: 35px;}
.left-3{position: absolute; left: 20px;}
.left-4{position: absolute; left: 40px;}


.left-edge{
	position: absolute;
	left: 0px;
}

.left-bleed{
	position: absolute;
	left: -5px;
}

.left-bleed-2{
	position: absolute;
	left: -25px;
}

.right{
	position: absolute;
	left: 87px;
}

.right-2{
	position: absolute;
	right: 35px;
}

.right-edge{
	position: absolute;
	right: 0;
}



/*numbers*/
.one{
	position: absolute;
	top: 0;
	left: 0;
}

.two{
	position: absolute;
	top: 0;
	left: 135px;
}

.three{
	position: absolute;
	top: 0;
	left: 270px;
}

.four{
	position: absolute;
	top: 0;
	left: 405px;
}

.five{
	position: absolute;
	top: 0;
	left: 540px;
}

.six{
	position: absolute;
	top: 0;
	left: 675px;
}


.seven{
	position: absolute;
	top: 135px;
	left: 0;
}

.eight{
	position: absolute;
	top: 135px;
	left: 135px;
}

.nine{
	position: absolute;
	top: 135px;
	left: 270px;
}

.zero{
	position: absolute;
	top: 135px;
	left: 405px;
}

.question{
	position: absolute;
	top: 350px;
	left: 0;
}

.exclamation{
	position: absolute;
	top: 350px;
	left: 70px;
}

.colon{
	position: absolute;
	top: 350px;
	left: 140px;
}

#puntuation{background-color: #FFF3C3;}
#puntuation-g{background-color: #A8D182;border: none;}

.comma{
	position: absolute;
	top: 350px;
	left: 210px;
}

.period{
	position: absolute;
	top: 350px;
	left: 280px;
}

.quotation-L{
	position: absolute;
	top: 350px;
	left: 350px;
}

.quotation-R{
	position: absolute;
	top: 350px;
	left: 440px;
}

.row-1{
	position: absolute;
	top: 0;
}

.row-2{
	position: absolute;
	top: 67.5px;
}

.row-3{
	position: absolute;
	top: 135px;
}

.row-4{
	position: absolute;
	top: 202.5px;
}

.row-5{
	position: absolute;
	top: 270px;
}

.row-6{
	position: absolute;
	top: 337.5px;
}

.column-1{left: 0;}
.column-2{left: 67.5px;}
.column-3{left: 135px;}
.column-4{left: 202.5px;}
.column-5{left: 270px;}
.column-6{left: 337.5px;}
.column-7{left: 405px;}
.column-8{left: 472.5px;}
.column-9{left: 540px;}
.column-10{left: 607.5px;}
.column-11{left: 675px;}
.column-12{left: 742.5px;}
.column-13{left: 810px;}

#topp{z-index: 100;}














