* {
	padding: 0px;
	margin: 0px;
}

#container{
	width: 100vw;
	height: 100vh;
	background-color: #FFF3C3;
	position: relative;
}

#display{
	position: absolute;
	left: 20vw; 
	top: 5vh;
	width: 80vw;
	height: 90vh;
}

.button{
	position: absolute;
	left: 450px;
	top: 270px;
}

#red{background-color: #EE7B6D;}

#display-u-1{
	position: absolute;
	left: 315px;
	top: 270px;
}

#display-u-2{
	position: absolute;
	left: 585px;
	top: 270px;
}

#display-s-1{
	position: absolute;
	left: 185px;
	top: 270px;
}

#display-s-2{
	position: absolute;
	left: 720px;
	top: 270px;
}

#L-display{
	position: absolute;
	top: 0px;
	left: 450px;
	height: 140px;
	width: 140px;
}

div#L-display :hover{
	border-radius: 0px 0px 0px 60px;
-moz-border-radius: 0px 0px 0px 60px;
-webkit-border-radius: 0px 0px 0px 60px;
}

#E-display{
	position: absolute;
	left: 450px;
	top: 135px;
}

#O-display{
	position: absolute;
	top: 405px;
	left: 450px;
}

#specimen{
	position: absolute;
	left: 10vw; 
	top: 5vh;
	width: 80vw;
	height: 90vh;
}

#numbers{
	position: absolute;
	left: 10vw; 
	top: 10vh;
	width: 80vw;
	height: 90vh;
}

.cube{
	height: 140px;
	width: 140px;
}

.letter{
	height: 130px;
	width: 130px;
	border: #FFF3C3 solid 5px;
	border-radius: 5px;
	position: relative;
	background-color: #A8D182;
}

.A{
	position: absolute;
	top: 0;
	left:0;}

.B{
	position: absolute;
	top: 0;
	left: 135px;
}

.C{
	position: absolute;
	top: 0;
	left: 270px;
}

.D{
	position: absolute;
	top: 0;
	left: 405px;
}

.E{
	position: absolute;
	top: 0;
	left: 540px;
}

.F{
	position: absolute;
	top: 0;
	left: 675px;
}

.G{
	position: absolute;
	top: 135px;
	left: 0;
}

.H{
	position: absolute;
	top: 135px;
	left: 135px;
}

.I{
	position: absolute;
	top: 135px;
	left: 270px;
}

#J{
	position: absolute;
	top: 135px;
	left: 405px;
	height: 140px;
	width: 140px;
}

div#J :hover{
	border-radius: 0px 0px 60px 0px;
-moz-border-radius: 0px 0px 60px 0px;
-webkit-border-radius: 0px 0px 60px 0px;
}

.K{
	position: absolute;
	top: 135px;
	left: 540px;
}

#L{
	position: absolute;
	top: 135px;
	left: 675px;
	height: 140px;
	width: 140px;
}

div#L :hover{
	border-radius: 0px 0px 0px 60px;
-moz-border-radius: 0px 0px 0px 60px;
-webkit-border-radius: 0px 0px 0px 60px;
}

.M{
	position: absolute;
	top: 135px;
	left: 810px;
}

.N{
	position: absolute;
	top: 270px;
	left: 0px;
}

#O{
	position: absolute;
	top: 270px;
	left: 135px;
	height: 140px;
	width: 140px;
}

div#O :hover{
	border-radius: 40px 40px 40px 40px;
	-moz-border-radius: 40px 40px 40px 40px;
	-webkit-border-radius: 40px 40px 40px 40px;
}

.P{
	position: absolute;
	top: 270px;
	left: 270px;
}

.Q{
	position: absolute;
	top: 270px;
	left: 405px;
	height: 140px;
	width: 140px;
}

div.Q :hover{
	border-radius: 40px 40px 0px 40px;
	-moz-border-radius: 40px 40px 0px 40px;
	-webkit-border-radius: 40px 40px 0px 40px;
}

.R{
	position: absolute;
	top: 270px;
	left: 540px;
}

.S{
	position: absolute;
	top: 270px;
	left: 675px;
}

.T{
	position: absolute;
	top: 405px;
	left: 0px;
}

.U{
	position: absolute;
	top: 405px;
	left: 135px;
}

.V{
	position: absolute;
	top: 405px;
	left: 270px;
}

.W{
	position: absolute;
	top: 405px;
	left: 405px;
}

.X{
	position: absolute;
	top: 405px;
	left: 540px;
}

#Y{
	position: absolute;
	top: 405px;
	left: 675px;
}

div#Y :hover{
	border-radius: 0px 0px 60px 0px;
-moz-border-radius: 0px 0px 60px 0px;
-webkit-border-radius: 0px 0px 60px 0px;
}

.Z{
	position: absolute;
	top: 405px;
	left: 810px;
}

	/*https://css-tricks.com/examples/ShapesOfCSS/*/
#triangle-up{
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 24px solid #FFF3C3;
	border-radius: 2px;
}

#triangle-down{
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 18px solid #FFF3C3;
}

#triangle-left{
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 20px solid #FFF3C3;
	border-bottom: 12px solid transparent;

}

#triangle-right{
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 20px solid #FFF3C3;
	border-bottom: 12px solid transparent;

}

#rectangular{
	height: 50px;
	width: 15px;
	background-color: #FFF3C3;
}

#rectangular-2{
	height: 15px;
	width: 50px;
	background-color: #FFF3C3;
}

#semicircle-curveup{
	height: 18px;
	width: 24px;
	background-color: #FFF3C3;
	border-radius: 60% 60% 0% 0% / 100% 100% 0% 0%;
}

#semicircle-curveright{
	height: 24px;
	width: 18px;
	background-color: #FFF3C3;
	border-radius: 0% 100% 100% 0% / 0% 60% 60% 0%;
}

#semicircle-curveleft{
	height: 24px;
	width: 18px;
	background-color: #FFF3C3;
	border-radius: 100% 0% 0% 100% / 60% 0% 0% 60%;
}

#semicircle-curvedown{
	height: 18px;
	width: 24px;
	background-color: #FFF3C3;
	border-radius: 0% 0% 60% 60% / 0% 0% 100% 100%;
}

#quarter-circle-1{
	height: 24px;
	width: 18px;
	background-color: #FFF3C3;
	border-radius: 90% 0% 0% 0% / 90% 0% 0% 10%;
}

#quarter-circle-2{
	height: 24px;
	width: 18px;
	background-color: #FFF3C3;
	border-radius: 0% 0% 90% 0% / 0% 10% 90% 0%;
}

#quarter-circle-2-special{
	height: 36px;
	width: 27px;
	background-color: #FFF3C3;
	border-radius: 0% 0% 90% 0% / 0% 10% 90% 0%;
}

#quarter-circle-3{
	height: 24px;
	width: 18px;
	background-color: #FFF3C3;
	border-radius: 0% 0% 0% 90% / 10% 0% 0% 90%;
}

#quarter-circle-3-special{
	height: 36px;
	width: 27px;
	background-color: #FFF3C3;
	border-radius: 0% 0% 0% 90% / 10% 0% 0% 90%;
}

#quarter-circle-4{
	height: 24px;
	width: 18px;
	background-color: #FFF3C3;
	border-radius: 0% 90% 0% 0% / 0% 90% 10% 0%;
}

#circle{
	height: 40px;
	width: 40px;
	background-color: #FFF3C3;
	border-radius: 100%;
}

#circle-sm{
	height: 30px;
	width: 30px;
	background-color: #FFF3C3;
	border-radius: 100%;
}

#square{
	height: 25px;
	width: 25px;
	background-color: #FFF3C3;
}

.center{
	position: absolute;
	top: 60px;
	left: 70px;
}

.top{top: 0;}
.top-2{top: 20px;}
.bottom{top: 112px;}
.bottom-2{top:100px;}
.bottom-3{top: 115px;}
.center-1{top: 90px;}
.center-2{top: 60px;}
.center-3{top: 65px;}
.center-4{top: 40px;}
.corner{top: 106px;}



.left{
	position: absolute;

	left: 50px;
}

.left-edge{
	position: absolute;
	left: 0px;
}

.left-bleed{
	position: absolute;
	left: -5px;
}

.right{
	position: absolute;
	left: 85px;
}

.right-edge-semi{
	position: absolute;
	left: 112px;
}

.right-edge-bigsemi{
	position: absolute;
	left: 103px;
}

.right-edge-tri{
	position: relative;
	left: 110px;
}

.right-edge-squ{
	position: absolute;
	left: 105px;
}

.two{
	position: absolute;
	top: 0;
	left: 135px;
}

.three{
	position: absolute;
	top: 0;
	left: 270px;
}

.four{
	position: absolute;
	top: 0;
	left: 405px;
}